# Directories

.vs/

bin/
bin-int/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.ini

Sandbox/HazelProfile-endtime.json
Sandbox/HazelProfile-runtime.json
Sandbox/HazelProfile-startup.json

Hazel-Editor/HazelProfile-endtime.json
Hazel-Editor/HazelProfile-runtime.json
Hazel-Editor/HazelProfile-startup.json